version: 2

# The desired behavior is:
# - All dependencies are updated in the same PR, regardless of the package ecosystem. 
#   (Quarkus together, Spring together etc.)
# - Quarkus and Spring dependencies are updated in separate PRs, so that we can decide to not merge them.
#   (Helps when these large projects sometimes bring breaking changes.)
# - All three update groups are completely mutually exclusive.
#   (Dependencies from one group are never part of another group, the PRs do not overlap.)
# - Webjars are skipped entirely.
#   (We cannot retest the UI of every quickstarts every time a dependency bumps.)

# To achieve this, we use the following configuration:
# - Patterns are used to match all dependencies, so that we can use allow and ignore.
# - Ignore only seems to work if allow is also defined.

# This was the only way to get the desired behavior, established through trial and error; 
# Dependabot does not really document this complex use case.

# Registries are defined in the organization settings.
multi-ecosystem-groups:
  base:
    schedule:
      interval: weekly
      time: '03:00' # Otherwise it picks a random time.
    target-branch: "development"
    commit-message:
      prefix: "deps: "
  quarkus:
    schedule:
      interval: weekly
      time: '03:00' # Otherwise it picks a random time.
    target-branch: "development"
    commit-message:
      prefix: "deps: "
  spring:
    schedule:
      interval: weekly
      time: '03:00' # Otherwise it picks a random time.
    target-branch: "development"
    commit-message:
      prefix: "deps: "

updates:
  - package-ecosystem: "maven"
    directory: "/"
    patterns: [ "*" ]
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "org.webjars:*"
      - dependency-name: "io.quarkus:*"
      - dependency-name: "org.springframework:*"
      - dependency-name: "org.springframework.boot:*"
    multi-ecosystem-group: "base"
  - package-ecosystem: "gradle"
    directory: "/"
    patterns: [ "*" ]
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "org.webjars:*"
      - dependency-name: "io.quarkus"
      - dependency-name: "io.quarkus:*"
      - dependency-name: "org.springframework:*"
      - dependency-name: "org.springframework.boot:*"
    multi-ecosystem-group: "base"
  - package-ecosystem: "github-actions"
    directory: "/"
    patterns: [ "*" ]
    multi-ecosystem-group: "base"

  - package-ecosystem: "maven"
    directory: "/"
    patterns: [ "*" ]
    allow:
      - dependency-name: "io.quarkus:*"
    ignore:
      - dependency-name: "org.webjars:*"
      - dependency-name: "org.springframework:*"
      - dependency-name: "org.springframework.boot:*"
    multi-ecosystem-group: "quarkus"
  - package-ecosystem: "gradle"
    directory: "/"
    patterns: [ "*" ]
    allow:
      - dependency-name: "io.quarkus"
      - dependency-name: "io.quarkus:*"
    ignore:
      - dependency-name: "org.webjars:*"
      - dependency-name: "org.springframework:*"
      - dependency-name: "org.springframework.boot:*"
    multi-ecosystem-group: "quarkus"

  - package-ecosystem: "maven"
    directory: "/"
    patterns: [ "*" ]
    allow:
      - dependency-name: "org.springframework:*"
      - dependency-name: "org.springframework.boot:*"
    ignore:
      - dependency-name: "org.webjars:*"
      - dependency-name: "io.quarkus:*"
    multi-ecosystem-group: "spring"
  - package-ecosystem: "gradle"
    directory: "/"
    patterns: [ "*" ]
    allow:
      - dependency-name: "org.springframework:*"
      - dependency-name: "org.springframework.boot:*"
    ignore:
      - dependency-name: "org.webjars:*"
      - dependency-name: "io.quarkus"
      - dependency-name: "io.quarkus:*"
    multi-ecosystem-group: "spring"
